<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Mockup MercadoLiebre</title>
</head>
<body>
    <header>
        <div class = "logo-busqueda">
            <img src="img/logo-mercado-liebre.svg" alt="Logo de Meli" style="width:18.75rem;height:6.25rem;">
            <div class="search-form">
                <form action="#" method="GET">
                   <input type="text" name="search" placeholder="Buscar productos, marcas y más...">
                   <i class="fa fa-search"></i>
                 </form>
           </div>
        </div>
        <div class ="promocion-tarjeta">
            <i class="fas fa-hand-holding-usd"></i>
            <span>Comprá en cuotas y sin tarjeta de crédito</span>
        </div>
        
            <nav>
                <ul>
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li>
                        <a href="/register">
                            Creá tu cuenta
                            <i class="far fa-id-card"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/login">
                            Ingresá
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                        
                    </li>
                    <li>
                        <a href="#">
                            Mis compras
                            <i class="fas fa-shopping-basket"></i>
                        </a>
                        
                    </li>
                </ul>
            </nav>
            <div class = "burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    </header>
    <main class="registro">
        <form action="/" method="POST">
            <h4>Ingrese sus datos de cuenta</h4>
            <div class="ingreso-datos-personales">
                <input type="text" name="user" placeholder="Ingresá tu mail o usuario">
                <input type="password" name="pass" placeholder="Ingresá tu contraseña">
            </div>
            <div class="botones-form">
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </div>
        </form>
    </main>
</body>