<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Mockup MercadoLiebre</title>
</head>
<body>
    <header>
        <div class = "logo-busqueda">
            <img src="img/logo-mercado-liebre.svg" alt="Logo de Meli" style="width:18.75rem;height:6.25rem;">
            <div class="search-form">
                <form action="#" method="GET">
                   <input type="text" name="search" placeholder="Buscar productos, marcas y más...">
                   <i class="fa fa-search"></i>
                 </form>
           </div>
        </div>
        <div class ="promocion-tarjeta">
            <i class="fas fa-hand-holding-usd"></i>
            <span>Comprá en cuotas y sin tarjeta de crédito</span>
        </div>
        
            <nav>
                <ul>
                    <li><a href="/">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li>
                        <a href="/register">
                            Creá tu cuenta
                            <i class="far fa-id-card"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/login">
                            Ingresá
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                        
                    </li>
                    <li>
                        <a href="#">
                            Mis compras
                            <i class="fas fa-shopping-basket"></i>
                        </a>
                        
                    </li>
                </ul>
            </nav>
            <div class = "burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    </header>
    <main class="registro">
        <form action="/" method="POST">
            <h4>Ingrese sus datos personales</h4>
            <div class="ingreso-datos-personales">
                <label for="birth_date"><b>Datos de contacto</b></label>
                <input type="text" name="name" placeholder="Ingrese su nombre y apellido">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="email" name="email" placeholder="E-mail">
                <label for="birth_date"><b>Fecha de nacimiento</b></label>
                <input type="date" name="birth_date" id="birth_date">
                <input type="text" name="addres" placeholder="Domicilio">
            </div>

            <h4>Perfil del usuario</h4>
            <div class="profile">
                <div class="profile-comprador">
                    <input type="radio" name="profile" value="buy" id="buy">
                    <label for="buy">Comprador</label>
                </div>
                <div class="profile-vendedor">
                    <input type="radio" name="profile" value="sell" id="sell">
                    <label for="sell">Vendedor</label>
                </div>
            </div>

            <h4>Intereses</h4>
            <div class="interests">
                <div class="grupo-intereses">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Hogar</label>
                    </div>
                </div>
                <div class="grupo-intereses">
                    <div>
                        <input type="checkbox" name="interests" value="d" id="d">
                        <label for="d">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="e" id="e">
                        <label for="e">Vida sana</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="f" id="f">
                        <label for="d">Computación</label>
                    </div>
                </div>
            </div>
            
            <h4>Elegí tu foto de usuario</h4>
            <input type="file" name="avatar">
            <h4>Ingresá tu contraseña</h4>
            <div class="ingreso-datos-personales">
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
            </div>
            <br>
            <br>
            <div class="botones-form">
                <input type="submit" value="Enviar">
                <input type="reset" value="Borrar">
            </div>
            <br>
            <br>
        </form>
    </main>
</body>
<footer>
    <section class = "footer-note">
        <i class="fas fa-credit-card"></i>
        <div class="footer-note-text">
            <h3 class ="titular-footer">Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
    </section>
    <section class = "footer-note">
        <i class="fas fa-gift"></i>
        <div class="footer-note-text">
            <h3 class ="titular-footer">Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
    </section>
    <section class = "footer-note">
        <i class="fas fa-user-shield"></i>
        <div class="footer-note-text">
            <h3 class ="titular-footer">Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
    </section>
    <section class = "copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>